@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&display=swap');

*{
    font-family: 'Abyssinica SIL', serif;
    
}

body, html{
    background: linear-gradient(89deg, #00FFFB -90%, #fff 50%, #00FFFB 190%);
}


.left, .middle, .right {display: inline-block; 
    zoom: 1; 
    vertical-align: top; 
    font-size: 14px;
    border: 1px dotted silver;
    
    
}


    
.left {width: 32%;
}

.left img {
    width: 42px;
    
}

.middle {width: 32%; 
}

.middle img {
    width: 42px;
}

.right {width: 32%; 
}

.right img {
    width: 42px;
}

.photos{
    margin: 25px;
    padding: 10px;

    box-shadow: 10px 6px 25px black;

}



a{
    text-decoration: none;
    border-bottom: 1px solid black;
}




h2 + dt::first-letter{
    font-size: 25px;
    border: 1px dotted blue;
}
    


h2 ~ dt ~ dd{
        color: blue;
    }

h2 ~ dt {
    color: lightsalmon;
}



