@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins&display=swap');

@import url(http://weloveiconfonts.com/api/?family=brandico);




.cards-d {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: space-between;
    margin-top: 10%;
  
}



.cards-d .buttons {
    text-align: center;
}

.cards-d .size{
    margin: 5px;
    padding: 15px;
    border: 1px solid blue;
}


.cards-d img{
  width: 300px;
  height: 340px;
  /* border: 1px solid blue; */
  padding: 5px;
}

.button-xsmall {
    font-size: 10%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}


.cards-d a{
  text-decoration: none;
}

.cards-d a h1{
  color: black;
  text-align: center;
  font-size: 18px;
}

.cards-d a p{
  text-align: center;
  color: blue;
  font-size: 18px;
}


.cards-d .buttons .special:hover{
    background-color: #1b9bff;
}



/* Responsive code starts here */
@media screen and (max-width: 1100px){

  .cards-d{
    display: flex;
	  flex-direction: row;
	  flex-wrap: nowrap;
	  justify-content: space-around;
	  align-items: stretch;
	  align-content: space-between;
    margin: 0px;
  }

  .cards-d .size{
    margin: 5px;
    padding: 15px;
    border: 1px solid blue;
}


.cards-d img{
  width: 280px;
  height: 340px;
  /* border: 1px solid blue; */
  padding: 5px;
}

.button-xsmall {
    font-size: 10%;
}

.button-small {
    font-size: 85%;
}

.button-large {
    font-size: 110%;
}

.button-xlarge {
    font-size: 125%;
}

  .cards-d a h1{
    color: black;
    text-align: center;
    font-size: 15px;
  }

}


/* Responsive code starts here */
@media screen and (max-width: 850px){

  .cards-d{
    display: flex;
	  flex-direction: row;
	  flex-wrap: nowrap;
	  justify-content: space-around;
	  align-items: stretch;
	  align-content: space-between;
    margin: 0px;
  }

  .cards-d img{
    width: 190px;
    height: 240px;
    border: 1px solid blue;
    padding: 5px;
  }

  .cards-d a h1{
    color: black;
    text-align: center;
    font-size: 13px;
  }
  
.cards-d a p{
  text-align: center;
  color: blue;
  font-size: 11px;
}
}

@media screen and (max-width: 700px){

.cards-d{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: space-between;
	align-content: center;
  
}

.cards-d img{
  width: 260px;
  height: 360px;
  border: 1px solid blue;
  padding: 5px;
}

}

