@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Poppins&display=swap');

@import url(http://weloveiconfonts.com/api/?family=brandico);




.cards-d {
  display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: space-between;
  margin-top: 10%;
     
  
}



.cards-d .buttons {
    text-align: center;
    width: 100%;
}

.cards-d .size{
    margin: 5px;
    padding: 10px;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);

}


.cards-d img{
  width: 280px;
  height: 320px;
  /* border: 1px solid blue; */
  padding: 5px;
}


.button-small {
    font-size: 15%;
}





.cards-d a{
  text-decoration: none;
}

.cards-d a h1{
  color: black;
  text-align: center;
  font-size: 18px;
}

.cards-d a p{
  text-align: center;
  color: blue;
  font-size: 18px;
}


.cards-d .buttons .special:hover{
    background-color: #1b9bff;
}



/* Responsive code starts here */
@media screen and (max-width: 1100px){

  .cards-d{
    display: flex;
	  flex-direction: row;
	  flex-wrap: nowrap;
	  justify-content: space-around;
	  align-items: stretch;
	  align-content: space-between;
    margin: 0px;
  }

  .cards-d .size{
    margin: 5px;
    padding: 15px;
    /* border: 1px solid blue; */
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}

.cards-d .buttons {
    text-align: center;
}



.cards-d img{
    width: 220px;
    height: 280px;
    /* border: 1px solid blue; */
    padding: 2px;
  }
  

.button-small {
    font-size: 85%;
}

.buttons .pure-button{
    font-size: 75%;
}



  .cards-d a h1{
    color: black;
    text-align: center;
    font-size: 15px;
  }

  .cards-d a p{
    text-align: center;
    color: blue;
    font-size: 18px;
  }
  
  
  .cards-d .buttons .special:hover{
      background-color: #1b9bff;
  }

}


/* Responsive code starts here */
@media screen and (max-width: 850px){

  .cards-d{
    display: flex;
	  flex-direction: row;
	  flex-wrap: nowrap;
	  justify-content: space-around;
	  align-items: stretch;
	  align-content: space-between;
    margin: 0px;
  }

  .cards-d .size{
    margin: 5px;
    padding: 15px;
    /* border: 1px solid blue; */
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}

    .cards-d .buttons {
    text-align: center;
    }


    .cards-d img{
        width: 180px;
        height: 250px;
        /* border: 1px solid blue; */
        padding: 2px;
      }
      



  .cards-d a h1{
    color: black;
    text-align: center;
    font-size: 13px;
  }
  
.cards-d a p{
  text-align: center;
  color: blue;
  font-size: 11px;
}
}

@media screen and (max-width: 700px){

.cards-d{
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: space-between;
	align-content: center;
  
}


.cards-d .buttons {
    text-align: center;
    width: 100%;
}

.cards-d .size{
    margin: 5px;
    padding: 10px;
    /* border: 1px solid blue; */
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.2);
}

.cards-d img{
  width: 260px;
  height: 360px;
  /* border: 1px solid blue; */
  padding: 5px;
}

}

